In [4]:
import pandas as pd
import numpy as np

----------------- Question 1 --------------------------

In [5]:
pd.__version__

'2.1.0'

In [6]:
df = pd.read_csv('datasets_master_housing.csv')

----------------- Question 2 ---------------------------

In [7]:
print(df.count())

longitude             20640
latitude              20640
housing_median_age    20640
total_rooms           20640
total_bedrooms        20433
population            20640
households            20640
median_income         20640
median_house_value    20640
ocean_proximity       20640
dtype: int64

------------------------- Question 3 -------------------------

In [8]:
print(df['total_rooms'].isnull().sum())

0

In [9]:
print(df['total_bedrooms'].isnull().sum())

207

------------------------- Question 4 --------------------------

In [10]:
print(df['ocean_proximity'].nunique())

5

------------------------- Question 5 ---------------------------

In [11]:
df2 = df.loc[df['ocean_proximity'] == 'NEAR BAY']
print(df2['median_house_value'].mean())

259212.31179039303

------------------------- Question 6 ---------------------------

In [12]:
mean_value_total_bedrooms = df['total_bedrooms'].mean()
print(mean_value_total_bedrooms)

df3 = df['total_bedrooms'].fillna(mean_value_total_bedrooms)
new_mean_value_total_bedrooms = df3.mean()
print(new_mean_value_total_bedrooms)

537.8705525375618
537.8705525375617

------------------------- Question 7 ----------------------------

In [13]:
df4 = df.loc[df['ocean_proximity'] == 'ISLAND']

df5 = df4[['housing_median_age','total_rooms','total_bedrooms']]


X = df5.to_numpy()
XT = X.T
XTX = np.matmul(XT, X)

XTX_inv = np.linalg.inv(XTX)
y = [950, 1300, 800, 1000, 1300]

w = np.matmul(np.matmul(XTX_inv, XT), y)

print(w[-1])

5.699229455065565